.page-with-nav
  cf()
  .secondary-content
     border-left:1px solid #eee
     overflow: hidden

  @media (min-width:768px)
    .secondary-nav
      col(1/4, gutter:0)
      .mui-menu
        background #fff
    .secondary-content
      min-height 300px
      col(3/4, gutter:0) 
 
  @media (min-width:965px)
    .secondary-nav
      col(2/9, gutter:0)
    .secondary-content
      col(7/9, gutter:0) 

  @media (min-width:1200px)
    .secondary-nav
      col(0.2, gutter:0)
    .secondary-content
      col(0.8, gutter:0)
      
.toolbar
  padding-top 5px
  padding-right 20px
  padding-bottom 3px
  border-bottom 1px solid #eee
  position relative
  background #f4f4f4
  .mui-menu
    background: #fff
  .mui-menu-control:hover
    .mui-menu-control-bg
      opacity 0
  .secondary-actions
    display inlin-block
    
  .mui-flat-button.mui-is-secondary
    background: #f4f4f4
    &:hover
      background-color: #FAFAFA

  .toolbar-icons
    .selected-count
      float right
      font-size 14px
      padding: 8px 5px
      margin-right -10px
    .mui-touch-ripple
      left 3px
    .mui-checkbox-icon
      .mui-touch-ripple
        left -12px

    .mui-icon-button
      margin-top -3px
      float right
      padding 0px 12px
      position: relative
      width: 41px
      height: 41px
      line-height: 100%

  .mui-checkbox
    margin-left 10px
    margin-top 7px
    .mui-checkbox-icon
        .mui-checkbox-box *
          fill: #727272

  .mui-tooltip
    z-index 100
    font-size 14px
    padding-top 2px
    padding-bottom 2px

  .mui-font-icon
    color: #727272
    font-size 24px
    &.icon-paperplane
      font-size 18px
    &:hover
      color: #000
  .form, .searchForm, .groupsForm
    position absolute
    top 0
    left 0
    width: 100%;
    height: auto;
    background: #f4f4f4;
    border-bottom: 2px solid #ddd;
    transform: translate(0px, -350px);
    transition all 0.38s cubic-bezier(0.215, 0.61, 0.355, 1)
    z-index: 100;
    .form-content
      opacity 0
      transition all 0.35s
      cf()
      .selectMessageHandler
        col(7/10)
        cf()
        .handlersLabel
          col(0.3)
          font-size 16px
          line-height 56px
        .no-device
          font-size 16px
          line-height 56px
          col(0.7)
        .handlers
          col(0.7)
          float left
          
      .button-wrap
        .buttons
          float right
    &.open
      .form-content
        opacity 1
        transition-delay 0.3s
        
  .form
    z-index: 200

  .searchForm, .groupsForm
    transform translate(0px, -70px);
    height 67px
    transition-duration: 0.3s
    &.open
      transform translate(0px, 0px);

  .filterForm
    transform translate(0px, -1000px);
    height auto
      
  .toolbar-content
    cf()
    .header
      col(2/7)
      font-size 18px
      line-height 100%
      padding-top 10px
      padding-left 17px
      color #727272
    .actions
      col(5/7)
      .buttons
        float right
        .search
          margin-left 10px
        .create
          margin-right 5px
          background #f4f4f4
          &:hover
            background #eee