.page-with-nav
  cf()
  .secondary-content
     border-left:1px solid #eee
     overflow: hidden

  @media (min-width:768px)
    .secondary-nav
      col(1/4, gutter:0)
      .mui-menu
        background #fff
    .secondary-content
      min-height 300px
      col(3/4, gutter:0) 
 
  @media (min-width:965px)
    .secondary-nav
      col(2/9, gutter:0)
    .secondary-content
      col(7/9, gutter:0) 

  @media (min-width:1200px)
    .secondary-nav
      col(0.2, gutter:0)
    .secondary-content
      col(0.8, gutter:0)
      
.toolbar
  padding 15px 10px
  padding-right 20px
  padding-bottom 3px
  border-bottom 1px solid #eee
  position relative
  background #f4f4f4
  .secondary-actions
    display inlin-block
    
  .mui-icon-button
    margin-top -3px
    float right
    padding 0px 12px

  .mui-checkbox
    margin-left 15px
    margin-top 6px
    .mui-checkbox-icon
        .mui-checkbox-box *
          fill: #727272

  .mui-tooltip
    font-size 14px
    padding-top 2px
    padding-bottom 2px

  .mui-font-icon
    color: #727272
    font-size 24px
    &:hover
      color: #000

  .form, .searchForm
    position absolute
    top 0
    left 0
    width: 100%;
    height: auto;
    // background: #fff;
    background: #f4f4f4;
    border-bottom: 1px solid #eee;
    // transform: translate(600px, -280px);
    transform: translate(0px, -350px);
    transition all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    z-index: 100;
    .form-content
      opacity 0
      transition all 0.5s
      cf()
      .selectMessageHandler
        col(7/10)
        cf()
        .handlersLabel
          col(0.3)
          font-size 16px
          line-height 56px
        .no-device
          font-size 16px
          line-height 56px
          col(0.7)
        .handlers
          col(0.7)
          float left
          .mui-menu
            background: #fff
          .mui-menu-control:hover
            .mui-menu-control-bg
              opacity 0
      .button-wrap
        col(3/10)
        .buttons
          float right
    &.open
      transform: translate(0px, 0px);
      .form-content
        opacity 1
        transition-delay 0.4s

  .searchForm
    transform translate(0px, -70px);
    transition-duration: 0.3s
    height 67px

  .toolbar-content
    cf()
    .header
      col(2/7)
      font-size 22px
      line-height 100%
      padding-top 7px
      padding-left 17px
      color #727272
    .actions
      col(5/7)
      .buttons
        float right
        .search
          margin-left 10px
        .create-message
          margin-right 5px
          background #f4f4f4
          &:hover
            background #eee

// .mui-menu-item.mui-is-selected
//   .mui-menu-item-icon, span
//       color:#212121
    