.contact-form
  .inputs
    cf()
    .input, .mui-checkbox, .mui-date-picker, .group
      col(1/2, cycle:2)
    .group,.mui-date-picker
      padding-top 26px
    .mui-checkbox
      margin-top 36px
      
  .button-wrap
    col(1)
    margin-top: 20px
  .mui-text-field
    width 100%
  .mui-date-picker
    .mui-text-field
      width 100%

  .mui-flat-button.mui-is-secondary
    &:hover
      background-color: #FAFAFA
    

  .add-field-button
    float left
    margin-right 10px
    background: #f4f4f4
  .saveButton
    margin-right 10px