.contact-form
  .inputs
    cf()
    .input, .varInput, .mui-checkbox, .mui-date-picker, .group
      col(1/2, cycle:2)
    .group,.mui-date-picker
      padding-top 26px
    .mui-checkbox
      margin-top 36px

  .varInput
    cf()
    .var
      float left
      width: 85%
    .icon
      &:hover
        cursor pointer
      color rgba(114, 114, 114, 0.8)
      font-size 18px
      float right
      display: inline-block
      line-height: 70px
      
  .button-wrap
    col(1)
    margin-top: 20px
  .mui-text-field
    width 100%
  .mui-date-picker
    .mui-text-field
      width 100%

  .add-field-button
    float left
    margin-right 10px
    
  .saveButton
    margin-right 10px