.contacts
  .mui-menu-item
    position relative
    .mui-menu-item-data
      display none
    .mui-menu-item-icon
      display none
      opacity: 0.5
      font-size 14px
      position absolute
      right 5px 
      top 0px
      &:hover
        opacity 1

    &:hover
      .mui-menu-item-icon
        display block
