.contacts
  .list-item
    .icon
      color:#727272
      opacity: 0.5
      font-size 26px
    .contact-checkbox
      z-index 1000
    .body
      cf()
      .contacts
        float left
        display inline-block
      .groups
        color #727272
        display inline-block
        float right      
