@keyframes display {
  from {
    -webkit-transform: scale(0.5);
    opacity:0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-o-keyframes display {
  from {
    -webkit-transform: scale(0.5);
    opacity:0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-ms-keyframes display {
  from {
    -webkit-transform: scale(0.5);
    opacity:0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes display {
  from {
    -webkit-transform: scale(0.5);
    opacity:0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes display {
  from {
    -webkit-transform: scale(0.5);
    opacity:0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1
  }
}

.animated{
  opacity:0;
  -ms-transform: translateY(-20px)
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  transition: all 0.3s;
  transform-origin: 0 0;
}

.animated.active {
  opacity: 1;
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  // -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  // -o-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  // animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

.fadeLeft-enter
  opacity: 0
  transform: translateX(-15px)translateZ(0)
  transition: transform .1s , opacity .1s
  
.fadeLeft-enter.fadeLeft-enter-active 
  transform: translateX(0px)translateZ(0)
  opacity: 1

.fadeDown-enter
  opacity: 0
  transform: translateY(-15px)translateZ(0)
  transition: transform .35s , opacity .35s

.fadeDown-enter.fadeDown-enter-active 
  transform: translateY(0px)translateZ(0)
  opacity: 1

.fade-enter
  opacity: 0
  transition: opacity 1000ms
 
.fade-enter.fade-enter-active 
  opacity: 1

.fadeDown2-enter
  opacity: 0
  transform: translateY(-15px)translateZ(0)
  transition: transform .35s , opacity .35s
 
.fadeDown2-enter.fadeDown2-enter-active 
  transform: translateY(0px)translateZ(0)
  transition-delay: .09625s;
  opacity: 1