@import '../../node_modules/jeet/stylus/jeet'
@import './components/messages'

body
    overflow-y scroll !important

.pad
    padding 1.6rem

.mui-app-content-canvas
    center(1200px)

.hidden
    display: none

.section-body
    background-color: #fff

.page-with-nav
    .page-with-nav-content
        max-width none
        h1
            text-align center


