@import '../../node_modules/jeet/stylus/jeet'
@import './components/messages'
@import './components/page-with-nav'
@import './components/messages/message-item'
@import './components/search/searchbar.styl'
@import './components/contacts/contact-form.styl'
@import './components/contacts/contacts.styl'
@import './components/contacts/group-form.styl'
@import './components/contacts/contact-item.styl'
@import './components/contacts/filter.styl'
@import './components/groups/groups.styl'
@import './animations'

body-bg = #F4F4F4

body
    overflow-y scroll !important
    background: body-bg
    .mui-app-canvas
        background: body-bg

.pad
    padding 1.6rem

a
    color #009688

.mui-app-content-canvas
    center(1100px)

.hidden
    display: none

.list-item .list-item-actions .mui-drop-down-icon .mui-menu
    height auto !important
    transform scale(0.7)
    // transition transform 0.3s, opacity 0.3s, visibility: 0.3s
    transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms
    transform-origin: 100% 0

.list-item .list-item-actions .mui-drop-down-icon.mui-open .mui-menu
    transform scale(1)
    transition-duration 400ms

.mui-overlay
    &.mui-is-shown
        background-color rgba(0, 0, 0, 0)
        transition left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

.section
    cf()
    .section-header
        padding: 20px 0
        background-color: #009688
        color:#fff

        h4,h2,h3
            margin-left: 24px
            margin-bottom: 0
            color:#fff
        h4
            padding-top: 0
            color:#B2DFDB

    .section-body
        col(1)
        background-color: #fff
        .no-messages
            color #B6B6B6
            text-align center
            font-size 16px
            padding 40px 0
.mui-menu-item 
    // border-bottom: 1px solid #eee
    .mui-menu-item-icon
        margin-right 10px

.mui-nested-menu-item
    position relative
    .mui-menu-item
      padding-left: 59px
    .mui-menu-hideable
        .mui-menu-item
          padding-left: 24px
        
    // &:after
    //     content ''
    //     background #727272
    //     border-radius: 50%
    //     left 30px
    //     top 18px
    //     position absolute
    //     height: 13px 
    //     width: 13px
    &:before
        content ''
        width: 0
        height: 0
        position absolute
        right 20px
        top 20px
        border-style: solid
        border-width: 7px 0 7px 5px
        border-color: transparent transparent transparent #ddd
        transition border-color 0.5s

.mui-nested-menu-item.mui-open
    &:before
        border-color: transparent transparent transparent #727272

.contacts, .message-form
    .Select
        &.is-focused:not(.is-open) > .Select-control
            border: none
            border-bottom: solid 1px #e0e0e0
            box-shadow:none
        &.has-value
            .Select-control
                .Select-input
                    margin-left 2px
              
    .Select-control
        background #f4f4f4
        border none
        outline none
        border-bottom solid 1px #e0e0e0
        .Select-input
            margin-left -3px
        .Select-placeholder
            font-size: 16px
            padding-left 0px
        .Select-item
            color: #212121
            border: 1px solid #b2dfdb
            background-color: #b2dfdb
            .Select-item-icon
                &:hover
                    background-color transparent
                    color #727272
                border-right 1px solid rgba(114, 114, 114, 0.13)

    .Select-menu-outer
        .Select-option
            &.is-focused
                background-color #eee
.loading
    position fixed
    opacity 0
    transform: translate(0px, -10px)
    visibility hidden
    top 50%
    left 50%
    width 100px
    line-height 30px
    font-size 16px
    height 30px
    color #727272
    margin-left 100px
    background-color #f4f4f4
    border 1px solid #eee
    border-radius 3px
    text-align center
    transition visibility 0s linear 0.5s, opacity 0.2s, transform 0.2s
    &.open
        transform: translate(0px, 0px);
        visibility visible
        transition-delay 0s
        opacity 1

.pager
    background-color: rgba(244, 244, 244, 0.82)
    text-align center

.pager ul
    display: inline-block
    padding-left: 15px
    padding-right: 15px

.pager li, .next, .previous
    padding 10px
    display: inline-block
    &.active
        a
            color #727272

.pager .break a 
    cursor: default

.box-shadow:after
    content: ""
    width: 150px
    height: 1px
    margin-top: 88px
    margin-left: -75px
    display: block
    position: absolute
    left: 50%
    z-index: -1
    -webkit-box-shadow: 0px 0px 8px 2px #000000
       -moz-box-shadow: 0px 0px 8px 2px #000000
            box-shadow: 0px 0px 8px 2px #000000