@import 'jeet'
@import './components/messages'

body
    overflow-y scroll

.pad
    padding 1.6rem

.mui-app-content-canvas
    center(1200px)

.page-with-nav
  .page-with-nav-content
    h1
     text-align center
    max-width none


