.menu-button
    position: absolute
    z-index: 200
    .mui-floating-action-button-container
        background-color: #FFEB3B
        &:hover
            background-color: #FBC02D
        .icon
            color #727272