.menu-button
    position: absolute
    z-index: 200
    .mui-svg-icon
        margin-top: 8px
    .mui-svg-icon *{
       fill: #fff;
    }
    .mui-floating-action-button-container
        background-color: #CDDC39
        &:hover
            background-color: #CDDC39
