.message-item
  cf()
  border-bottom: 1px solid #eee
  position relative
  &:hover
    background #f4f4f4
    cursor pointer
  .message-icon
    col(0.1)
    padding-right 20px
  .message-inner
    padding: 8px 0
    font-size 14px
    col(0.79)
    .address, .body
      line-height 30px

  .message-actions
    col(0.1) 
    height 20px
    margin-top 28px
    cf()
    .star
      col(1/2)
      .icon
        color #cddc39
    .menu-icon
      col(1/2)
    .mui-drop-down-icon
      float right
      width 15px !important
      &.mui-open
        .mui-menu
          visibility: visible
      .mui-menu
        background #009688
        visibility:hidden
        top: 0px !important
        right: 27px !important
        &.mui-open
        .mui-menu-item
          color: #fff 
    .icon
      color #212121
      font-size 16px

.message-icon
  max-width: 15px
  padding: 24px 0
  padding-left: 25px

  .mui-font-icon
    color: #212121
    font-size: 22px
    &.sending, &.queued
      color #795548
    &.outcoming
      color:#388E3C
    &.incoming
      color:#AFB42B
    &.fail
      color: #F44336

      
.address 
  .success
    color: #388E3C;
  .received
    color: #AFB42B;
  .sending, .queued
    color: #795548;
  .fail
    color: #F44336;
