.message-form
  center(600px)
  .button-icon
    font-size 16px

  .phoneInput
    col(1/2)

  .msgInput
    col(1)

  .button-icon
    bottom 2px
    
  .sendButton
    col(0.2)
    text-align center
    margin-top 20px
