.message-form
    padding: 20px 0
    background-color: #009688
    color:#fff

    h4,h2,h3
        margin-left: 24px
        margin-bottom: 0
        color:#fff
    h4
        padding-top: 0
        color:#B2DFDB;


.pad
    padding-top: 0
    padding-bottom 0
    cf()

.section-body
    cf()
    
.messages-list
    col(1)
    .no-messages
        text-align center
        font-size 16px
        padding 40px 0

.formInner
    cf()
    .button-icon
        font-size 14px
        color:rgba(0, 0, 0, 0.87)

    .input
        min-width: 200px
        col(0.3)

    .msgInput
        height 72px !important
        col(0.6)

    .button-icon
        bottom 2px

    .button-wrap
        position: relative
        col(0.1)
        .spinner
            margin-left: -17px
        .sendButton
            text-align center
            margin-top 25px
            width: 80px
            float right
            transform scale(1)
            opacity 1
            z-index 5
            transition: all 0.2s ease-in
            &.hide
                opacity 0
                transform scale(0.5),
                z-index -1

