.message-form
    padding: 20px 0
    background-color: #009688
    color:#fff
    .pad
        padding-top: 0

    h4,h2,h3
        margin-left: 24px
        margin-bottom: 0
        color:#fff
    h4
        padding-top: 0
        color:#B2DFDB;

    .button-icon
        font-size 16px

    .phoneInput
        col(1 / 3)
        max-width: 200px

    .msgInput
        col(2 / 3)

    .button-icon
        bottom 2px

    .sendButton
        cf()
        width: 110px;
        text-align center
        margin-top 25px
